# Ignore the results folder
/results/

# Ignore the secondarycodes folder
/secondarycodes/

# Ignore all .sh files
*.sh

# Ignore all .out files
*.out

# Ignore the following Python scripts
create_sh_file.py
